/* ! ********************************** ADAPTIVE ******************************* */
@media screen and (min-width: 428px) {
  /* ? ************ Header**********/
  .hdr-container-two {
  }
  .navig-menu {
  }
  .logo {
    margin-top: 24px;
    margin-bottom: 22px;
    margin-left: 16px;
  }
  .heder-list {
    list-style: none;
    font-style: normal;
    display: flex;
    gap: 40px;
    padding: 24px 0;
    display: none;
  }
  .adr-list {
    font-style: normal;
    margin-left: auto;
    /* display: initial; */
    display: none;
  }
  .header-adr-list {
    /* display: none; */
  }
  .container {
    max-width: 428px;
    /* width: 100%; */
    /* max-width: 768px; */
    /* padding: 0%; */
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
  /* ? ************ Section 1 (picture) **********/
  .stud_main_sect_stud {
    /* height: 432px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Mob_Title.jpg); */
  }
  .main-stud-container {
    /* margin-top: -77px; */
  }
  .studio-main-text-one {
    /* font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    max-width: 320px;
    text-align: center;
    letter-spacing: 0.72px;
    color: #ffffff; */
    /* justify-content: CENTER; */
    /* align-items: center; */
    /* text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px; */
  }
  /* ? ************ section 2 **********/
  .about-us {
    padding: 0px;
  }
  .container-sect-two {
    max-width: 736px;
    margin: 96px 16px;
    padding: 0%;
  }
  /* ? **********************/
  .about-item {
    /* width: calc((100% - 24px) / 2); */
    /* min-width: 220px; */
    /* max-width: 396px; */
    /* height: 125px; */
  }
  .about-us-list {
    gap: 24px;
    gap: 72px;
    padding: 0;
    justify-content: CENTER;
    /* min-width: 396px; */
    /* min-width: 264px; */
    /* height: 624px; */
  }
  .about-item {
    /* width: calc((100% - 24px) / 2); */
    /* height: 96px; */
  }
  /* ? ************ section 4 **********/

  .container-stud-team {
  }
  .nasha-komanda {
    /* !!! gap: 24px; */
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: CENTER;
  }

  .stud-team {
  }
  .container-stud-team {
    padding: 96px 0;
  }
  .stud-sect-four-bgrnd {
  }
  /* ? ************ section 5 **********/
  .custom-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    justify-content: center;
  }
  /* ? ************ Footer ************/
  .footer-bg {
  }
  .footer-contact-wrap {
    justify-content: center;
  }
  .footer-logo-box {
  }
  .logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    /* margin-right: 76px; */
    /* display: inline-block; */
  }

  .social-box {
  }
  .footer-svg {
  }
  .social-list {
  }
  .subscrb-container {
  }
  .subscrb-title {
    margin-top: 72px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
  }
  .subscrb-form {
  }
  .subscrb-label {
  }
  .subscrb-btn {
  }
  /* ? ***********************************/
  /* ? ************ Portdolio ************/
}
/* ! ******************************** breakpoint №2 *******************************/
@media screen and (min-width: 768px) {
  /* ? ************ Header **********/
  .open-menu-btn {
    display: none;
  }
  .heder-list {
    list-style: none;
    font-style: normal;
    display: flex;
    gap: 40px;
    padding: 24px 0;
    display: flex;
  }
  .adr-list {
    font-style: normal;
    margin-left: auto;
    display: initial;
    /* display: none; */
  }
  .header-adr-list {
    gap: 12px;
    margin-right: -3px;
    flex-direction: column;
  }
  .container {
    /* max-width: 736px; */
    /* margin-left: 16px; */
    /* margin-right: 16px; */
  }
  /* ? ************ Section 1 (picture) **********/
  .stud_main_sect_stud {
    /* height: 436px; */
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Tablet_Title.jpg);
    /* max-width: 1440px; */
    /* height: 432px; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* margin: 0 auto; */
    /* background-position: center; */
    padding: 188px 0px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .stud_main_sect_stud {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Tablet_Title_2x.jpg);
    }
  }
  .main-stud-container {
    /* margin-top: -77px; */
  }
  .studio-main-text-one {
    /* font-weight: 700; */
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
    max-width: 496px;
    text-transform: unset;
  }

  /* ? **********************/
  .about-item {
    width: calc((100% - 24px) / 2);
    /* max-height: 120px; */
  }

  .about-us-list {
    gap: 72px 24px;
    /* width: calc((100% - 24px) / 2); */
    /* height: 312px; */
  }
  .about-us {
    /* padding: 20px 0; */
    display: flex;
    justify-content: center;
  }

  .container-sect-two {
    max-width: 736px;
    margin: 96px 16px;
    padding: 0%;
    /* max-height: 125px; */
  }
  .studio-main-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.72px;
    /* color: var(--notmain-color); */
    /* margin-bottom: 8px; */
    text-align: left;
    text-transform: capitalize;
  }
  /* ? ************ section 4 **********/
  .stud-team {
    height: 1224px;
    padding: 96px 0;
  }
  .container {
    max-width: 768px;
    padding: 0%;
  }
  .container-stud-team {
    height: 1224px;
    /* margin: 96px 0px; */
  }
  .nasha-komanda {
    /* !!! gap: 24px; */
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: CENTER;
  }

  .stud-sect-four-bgrnd {
  }
  /* ? ************ section 5 **********/
  .sect-custom {
    /* padding-top: 120px; */
    /* padding-bottom: 120px; */
    /* height: 360px; */
    /* margin: 96px 108px; */
    padding: 96px 0;
  }
  .custom-list {
    margin-left: 108px;
    margin-right: 108px;
    gap: 72px 24px;
    /* flex-basis: calc((100% - 48px) / 3); */
  }
  .custom-list-item {
    display: inline-block;
    max-width: 168px;
    /* max-height: 88px; */

    /* flex-basis: calc((100% - 48px) / 3); */
    /* width: calc((100% - 48px) / 3); */
  }
  /* ? ************ Footer ************/
  .footer-bg {
    padding: 96px 0;
    max-height: 456px;
  }
  .footer-contact-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 530px;
    margin-bottom: 0;
    align-items: baseline;
    justify-content: flex-start;
    /* margin-left: 113px; */
    margin-top: -29px;
  }
  .footer-logo-box {
    margin-bottom: 0;
  }
  .logo {
    margin-left: 0%;
  }
  .logo-footer {
    display: block;
    text-align: left;
    /* margin-bottom: 17.5px; */
  }
  .social-box {
  }
  .social-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: left;
  }
  .footer-svg {
  }
  .social-list {
  }
  .subscrb-container {
  }
  .subscrb-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: unset;
  }
  .subscrb-form {
  }
  .subscrb-label {
  }
  .subscrb-btn {
  }
  /* ? ***********************************/
  /* ? ************ Portdolio ************/
}

/* ! ******************************* breakpoint №3 *****************************/
@media screen and (min-width: 1158px) {
  /* ? ************ Header **********/
  .header-adr-list {
    gap: 40px;
    margin-right: -3px;
    flex-direction: row;
  }
  .container {
    /* margin: 120px; */
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    padding-left: 15px;
  }
  /* ? ************ section 2 **********/
  .stud_main_sect_stud {
    /* height: 600px; */
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    /* height: 432px; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* margin: 0 auto; */
    /* background-position: center; */
    padding: 188px 0px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .stud_main_sect_stud {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office_Desk_2x.jpg);
    }
  }
  .main-stud-container {
    /* margin-top: -77px; */
  }

  .container-sect-two {
    /* margin: 120px auto; */
    /* max-height: 264px; */
    /* margin-top: 120px; */
    margin-left: auto;
    margin-right: auto;
  }
  .svg-sect-two {
    /* display: unset; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background: #f4f4fd;
    border-radius: 4px;
    /* width: 264px; */
    /* height: 112px; */
  }
  .svg-sect-two-two {
    margin: 0 auto;
  }
  .studio-main-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* color: var(--notmain-color); */
    /* margin-bottom: 8px; */
    text-align: left;
  }
  .about-us {
    justify-content: unset;
    /* max-height: 344px; */
    padding-top: 120px;
  }
  .about-us-list {
    display: flex;
    /* flex-wrap: nowrap; */
    /* margin: 0 156px; */
    gap: 24px;
    padding: 0;
    /* width: calc((100% - 24px * 3) / 4); */
  }
  .about-item {
    width: calc((100% - 72px) / 4);
  }

  /* ? ************ section 3 **********/
  .stud-work {
    padding-bottom: 120px;
    display: initial;
  }
  .container-stud-work {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  /* ? ************ section 4 **********/
  .stud-team {
    background-color: #f4f4fd;
    padding: 120px 0;
    height: 780px;
  }

  .container-stud-team {
    margin: 0 auto;
  }
  .nasha-komanda {
    gap: 24px;
    /* gap: 64px 24px; */
    flex-wrap: nowrap;
    justify-content: CENTER;
  }

  .stud-sect-four-bgrnd {
  }
  /* ? ************ section 5 **********/
  .sect-custom {
    padding: 120px 0;
  }
  .custom-container {
  }
  .custom-list {
    gap: 24px;
    margin: 0 auto;
  }
  .custom-list-item {
    display: inline-block;
    /* height: 88px; */
    width: calc((100% - 120px) / 6);
  }
  /* ? ************ Footer ************/
  .footer-bg {
    padding-top: 28px;
  }
  .footer-contact-wrap {
    flex-wrap: nowrap;
    gap: unset;
    padding-top: 44px;
  }
  .footer-logo-box {
    margin-right: 120px;
  }
  .logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
    margin-left: 0px;
    /* display: inline-block; */
  }

  .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
  }
  .social-box {
  }
  .social-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: unset;
  }
  .footer-svg {
  }
  .social-list {
  }
  .subscrb-container {
    margin-left: 80px;
  }
  .subscrb-title {
    /* margin-top: 100px; */
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: unset;
  }
  .subscrb-form {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: unset;
  }
  .subscrb-label {
  }
  .subscrb-btn {
    padding: 8px 16px;
  }
  /* ? ***********************************/
  /* ? ************ Portdolio ************/
  .buttons-filtres {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 72px;
    flex-wrap: nowrap;
  }
  .prtf-section-container {
    padding-top: 96px;
    padding-bottom: 120px;
    /* padding: 100px 427px 72px 427px; */
  }
}
