:root {
  --main-light-color: #ffffff;
  --main-font-color: #434455;
  --secondary-font-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --logo-color: #000000;
  --border-bg-color: #2f303a;
  --section-team-bg-color: #f5f4fa;
  --color-text-nav-link: #212121;
  --foot-color-bckgrnd: #2e2f42;
  --notmain-color: #2e2f42;
  --stud-color-sect-work: #2e2f42;
  --stud-color-sect-team: #2e2f42;
  --prtf-color-pic-text2: #2e2f42;
  --prtf-color-pic-text3: #434455;
  --prtf-color-btn: #e7e9fc;
  --color-sect-five: #2e2f42;
  --modal-color-title: #2e2f42;
  --modal-color-label: #8e8f99;
  --hover-focus-mobile: #404bbf;
  --logo-color-mob: #4d5ae5;
}
/*Global styles*/
body {
  background-color: var(--main-light-color);
  color: var(--main-font-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

li {
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondory-font-color);
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondory-font-color);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  font-style: normal;
  display: flex;
  padding: 0 0;
}
/* ! ***************************** Flex ******************************* */
/* ! ***************************** Header ******************************* */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hdr-container {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.hdr-container-two {
  display: flex;
  align-items: center;
  max-height: 70px;
}
.container {
  /* max-width: 428px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  /* outline: 1px dashed red; */
}

.navig-menu {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  /* margin-right: 76px; */
  /* display: inline-block; */
}

.logo-part {
  color: #2e2f42;
}

.logo-footer {
  display: block;
  text-align: center;
  margin-bottom: 17.5px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px; /*temp  test*/
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;

  /* position: relative; 
  color:  #404bbf;  */
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.header-adr-list {
  gap: 40px;
  margin-right: -3px;
}
.header-menu-one {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-after:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  height: 4px;
  border-radius: 2px;
  display: block;
  width: 100%;
}
/* ************* mobile-menu ************* */
.open-menu-btn {
  display: flex;
  margin-left: auto;
  background-color: transparent;
  border-color: transparent;
}
.mob-menu {
  /* min-width: 428px; */
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 80px 35px 40px 40px;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.close-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  background: rgba(231, 233, 252, 0.1);
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.mob-menu-burg-ico {
  stroke: #2e2f42;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: #2e2f42;
  text-decoration: none;
}
.mob-menu-color-txt {
  color: var(--hover-focus-mobile);
}
/*  */
.mob-box {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.mob-adr {
  margin-top: 40px;
  margin-bottom: 48px;
  /* display: none; */
}
.mob-menu-adr-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-adr-tel {
  color: var(--logo-color-mob);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-decoration: none;
  font-style: normal;
}
.mob-adr-mail {
  color: var(--main-font-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-decoration: none;
  font-style: normal;
}
.mob-footer-svg {
  display: flex;
  gap: 56px;
}
.mob-social-list {
  width: 40px;
  height: 40px;
}

/**************************** MAIN STUDIO ************************* */
.studio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.studio-btn:hover,
.studio-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.studio-btn-txt {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  /*? d_isplay: f_lex; */
  color: #ffffff;
}
.main-stud-container {
  /* height: 600px;
  width: 1440px; */
  display: flex;
  flex-direction: column;
  /* padding: 0 316px; */
  margin-top: -77px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  border: none;
  background-color: #404bbf;
}
.modal-button:focus {
  border: none;
  background-color: #404bbf;
}
.modal-button:hover,
.modal-button:focus .modal-button-svg {
  fill: #ffffff;
}
.modal-button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-sect-two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background: #f4f4fd;
  border-radius: 4px;
  /* width: 264px; */
  max-width: 356px;
  height: 112px;
  display: none;
}
.svg-sect-two-two {
  margin: 24px 100px;
}
/* ****************** */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--modal-color-title);
  text-align: Center;
  vertical-align: Top;
  /* letter-spacing: 2%; */
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  /* margin-bottom: 8px; */
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-ico {
  /* stroke: ; */
  fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}
.modal-field-edit {
  margin-bottom: 16px;
}
.modal-label {
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ! Допрацювати!!! */
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #4d5ae5;
}
/* !---------------- */
.modal-check-box {
  margin-bottom: 24px;
}

.input-check {
  margin-bottom: 24px;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-color-label);
  cursor: pointer;
  align-items: center;
}

/* .check-box-span {
    display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent; 
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* !!!!!!!!!!!!!! */
.check-box-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text a {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
  padding-left: 8px;
  text-decoration: underline;
}

.input-check:checked + .check-text span {
  /* background-color: #31d0aa;
  border: none; */
  background: #404bbf;
  border: none;
  fill: #f4f4fd;
}
/* .modal-label-spn {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
} */

.modal-span-svg {
}

.modal-textarea :focus {
  border-color: #4d5ae5;
}
.mod-cont-ico-input {
  position: relative;
}
/* .mod-cont-ico-input-coment {
  width: 360px;
  height: 138px;
} */
.modal-input-text {
  height: 138px;
}

.modal-input-ico {
  fill: transparent;
  stroke: #111111;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ! subscrb */
.subscrb-container {
  /* margin-left: 80px; */
  /* margin-top: 100px; */
}
.subscrb-title {
  margin-top: 72px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.subscrb-form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.subscrb-label {
  gap: 24px;
}

.subscrb-input-class {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.subscrb-input-class::placeholder {
  color: #ffffff;
}
.subscrb-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 24px;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.subscrb-btn-button-svg {
  margin-left: 16px;
  fill: #ffffff;
}
/*********** BURGER-MENU **********/

/************************************************************************************************************* */
.prtf-btn-container {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.btn-list-item {
  /* padding: 12px 24px;
  border: 1px solid var(--prtf-color-btn);
  border-radius: 4px; */
}
/* ! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.btn-prtf {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid var(--prtf-color-btn);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-prtf:hover,
.btn-prtf:focus {
  background: #404bbf;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.pic-text-prtf-list {
  /* font-style: normal; */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--prtf-color-pic-text2);
  margin-bottom: 8px;
}
.pic-text-prtf-lis-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--prtf-color-pic-text3);
  text-decoration: none;
}

/* ********************************************  main  (studio) *****************************************/
.stud_main_sect_stud {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Mob_Title.jpg);
  max-width: 1440px;
  /* height: 432px; */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
  padding: 188px 0px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .stud_main_sect_stud {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Mob_Title_2x.jpg);
  }
}

.about-us-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  padding: 0;
  /* width: calc((100% - 24px * 3) / 4); */
}
.studio-main-text-one {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  max-width: 320px;
  text-align: center;
  letter-spacing: 0.72px;
  color: #ffffff;
  /* justify-content: CENTER; */
  /* align-items: center; */
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
  /* max-width: 496px; */
}
.studio-main-subtitle {
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--notmain-color);
  margin-bottom: 8px; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.72px;
  color: var(--notmain-color);
  margin-bottom: 8px;
  text-align: center;
}
/*  ************************ sect 2  ************************ */
.about-us {
  /* padding: 120px 0; */
  padding: 20px 0;
}
.about-item {
  /* width: calc((100% - 24px) / 2); */
  /* width: 100%; */
  min-width: 220px;
  /* position: relative; */
  /* border: 1px dashed red; */
}
.studio-main-text-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.studio-main-text-three {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.container-sect-two {
  display: flex;
  /* padding-top: 120px; */
  /* padding-bottom: 60px; */
  max-width: 396px;
}

/*  ************************ sect 3  ********************** */
.stud-work {
  padding-bottom: 120px;
  display: none;
}
.container-stud-work {
  /* margin-top: 120px;
  margin-bottom: 120px; */
}
.studio-main-text-stud {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--stud-color-sect-work);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.chym-zaymaemos {
  display: flex;
  /* justify-content: space-between; */
  gap: 24px;
}
.chym-zaymaemos-list {
}
/*  ************************ sect 4 *********************** */
.nasha-komanda {
  /* !!! gap: 24px; */
  gap: 72px 82px;
  flex-wrap: wrap;
  justify-content: CENTER;
}

.stud-sect-four-bgrnd {
  background-color: #ffffff;
  /*!!! width: calc((100% - 72px) / 4); */
  /* width: calc((100% - 82px * 2) / 1); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.stud-team-name-work {
  padding: 32px 0;
}
.stud-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.container-stud-team {
  height: 2232px;
  max-width: 428px;
}

.text-names-pipls {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--stud-color-sect-team);
  text-align: center;
  margin-bottom: 8px;
}

.backgraund-tiams {
  background-color: #f5f4fa;
}

.fourth-icon-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.fourth-item {
  width: 40px;
  height: 40px;
}

.fourth-icon-svg {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fourth-icon-svg:focus,
.fourth-icon-svg:hover {
  background-color: #404bbf;
}
.fourth-icon {
  fill: #f4f4fd;
}
/*  ************************ sect 5 *********************** */
.sect-custom {
  padding-top: 120px;
  padding-bottom: 120px;
}
.custom-container {
}

.sect-fife-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--color-sect-five);
  margin-bottom: 72px;
}

.custom-list {
  /* display: flex;
  gap: 24px; */
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}
.custom-list-item {
  /* display: inline-block;
  height: 88px;
  width: calc((100% - 120px) / 6); */
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:focus,
.customer-link:hover {
  color: #404bbf;
  border: 1px solid #404bbf;
}
.custom-svg {
  fill: currentColor;
}

/*  ************************ footer *********************** */
footer {
  background: #2f303a;
  /* padding: 100px 0; */
}

.footer-contact-wrap {
  display: flex;
  flex-wrap: wrap;
  /* align-items: baseline; */
  /* align-items: center; */
  justify-content: center;
}

.logo2 {
  margin: 2.5%;
  /* font-style: normal; */
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.logo-part-footer {
  color: #f4f4fd;
  line-height: 1.5;
}

.nav-link-footer {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  column-count: 1;
  width: 264px;
}
.nav-link-stud-hdr {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-stud-hdr:hover,
.nav-link-stud-hdr:focus {
  color: #404bbf;
}

.nav-link3 {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.link.nav-link3:hover,
.link.nav-link3:focus {
  color: #404bbf;
}
.footer-adr {
  /* d_isplay: block; */
  font-style: normal;
}

.social-box {
  /* margin: 0; */
  /* position: absolute; 
  top: 50%; 
  right: 50%;
  transform: translate(0, -50%); */
  /* margin-left: 120px; */
  /* margin-right: 120px; */
}
.social-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-svg {
  display: flex;
  gap: 16px;
}
.social-list {
  width: 40px;
  height: 40px;
}
.footer-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:focus,
.footer-icons:hover {
  background-color: #31d0aa;
}
.footer-ico {
  fill: #f4f4fd;
}

.footer-logo-box {
  margin-bottom: 72px;
}
/* ************************************************vvvvvvvvvvvvvv******************************************* */
/* .studio-pictures1 */

/* *************************************************** PORTFOLIO ******************************************** */

.pics {
}
/*? ****************** HEADER  ******************/
.heder-list {
  list-style: none;
  font-style: normal;
  display: flex;
  gap: 40px;
  padding: 24px 0;
  display: none;
}

.adr-list {
  font-style: normal;
  margin-left: auto;
  display: none;
}
.prtf-prjkt-pict.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #404bbf;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.prtf-prjkt-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-prjkt-link:focus,
.prtf-slide-text {
  transform: translateY(0%);
}

/*? ****************** MAIN  ******************/
.prtf-section-container {
  /* padding-top: 96px;
  padding-bottom: 120px; */
  padding: 48px 149px 48px 16px;
}

.buttons-filtres {
  display: flex;
  /* justify-content: center; */
  justify-content: start;
  gap: 24px;
  margin-bottom: 72px;
  flex-wrap: wrap;
}
.section-btn {
  background-color: var(--main-light-color);
  /* padding-top: 96px; */
  /* padding-bottom: 120px; */
}

.prtf-prjkt-pict {
}
.prtf-prjkt-pict.link {
  text-decoration: none;
}

.proj-pictures.list {
  list-style: none;
}
.proj-pictures {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.prtf-container-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.prtf-slide-img {
  position: relative;
  overflow: hidden;
}

.prtf-slide-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ! err??? */
.prtf-prjkt-link:hover .prtf-slide-text {
  transform: translateY(0);
}
/*? ****************** FOOTER  ******************/
.footer-bg {
  background-color: var(--foot-color-bckgrnd);
  padding: 100px 0;
}
.hide {
  display: none;
}
